.inforamtion{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    .information__container{
        margin-bottom: 50px;
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}